* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1600px;
    height: 92px;
    background-color: #1A0B2E;
}

.tech {
    color: #FFFFFF;
}

.gradient_text {
   
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    background-clip: text; 
    color: transparent; 
}

.nav_list {
    display: flex;
    list-style: none;
    gap: 32px;
    color: #FFFFFF;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    transition: color 0.3s, border-bottom 0.3s;
}

nav ul li a:hover {
  color: #00BFFF;
}

button {
    color: #FFFFFF;
    padding: 12px 16px;
    gap: 4px;
    height: 44px;
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    border-radius: 20px;
    font-size: 16px;
    transition: all 0.3s ease;
}

button:hover {
    background: linear-gradient(45deg, #9100F8, #FB09B4, #F7E93F); 
    transform: scale(1.05); 
}




